
nav{
  height: 50px;
  background:  url(../img/R.gif) 0 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
  li {
    float: left;
    display: inline;
  }
 
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
.title {
  font-size: 2.5rem;
  font-family: 'Lobster', cursive;
  text-align: center;

}
li a:hover {
  background-color: #111;
}


body, h1, h2, h3, h4, h5, h6  {
  font-family: Roboto, sans-serif;
  color: white;
}
h1 , h2 {text-align: center;}


#next {text-decoration-line: none;}
a { text-decoration: none;
color: aliceblue;}
body {
  background-image: url("../img/g.gif");
  background-repeat: no-repeat;
  background-attachment: fixed;
}
#table td, #table th {
  border: 1px solid rgb(65, 64, 66);
  padding: 8px;
}

#table tr:hover{background-color: #f2f2f2;color: black; }

#table tr:hover {background-color: #ddd;color: black;}

#table th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #043952;
  color: white;
}
.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.button {
  padding: 10px 20px;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #04AA6D;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
} 
.button {
  text-align: center;
}
footer{
  height: 100px;
  background:  url(../img/R.gif) 0 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}